In [1]:
%load_ext autoreload
%autoreload 2
%config InlineBackend.figure_format='retina'
%matplotlib inline

In [2]:
import pandas as pd
import numpy as np
from sklearn.utils import shuffle
from matplotlib import pyplot as plt
from pathlib import Path

In [3]:
datapath = Path('data')

# Genera a partir del dataset completo para el train final

In [4]:
df = pd.read_csv(datapath / 'train.csv')
df.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,train_1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,train_2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,train_3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,train_4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [5]:
df_label_0 = df[df['target'] == 0]
df_label_0.shape

(179902, 202)

In [6]:
df_label_1 = df[df['target'] == 1]
df_label_1.shape

(20098, 202)

In [9]:
working_df = []
num_rows = 19_990
start_idx = 0
while start_idx < df_label_0.shape[0]:
    print(start_idx, start_idx+num_rows)
    working_df.append(shuffle(pd.concat([df_label_0[start_idx : start_idx+num_rows], df_label_1])))
    i = len(working_df) - 1
    working_df[i].to_csv(datapath / f'working_test_df_{i}.csv', index=False)
    start_idx += num_rows

0 19990
19990 39980
39980 59970
59970 79960
79960 99950
99950 119940
119940 139930
139930 159920
159920 179910

# Genera datasets a partir del train_data

In [11]:
df = pd.read_csv(datapath / 'train_splitted.csv')
df.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
119737,train_119737,0,11.0038,-4.5026,9.0662,6.4313,10.7061,-15.2857,5.1233,16.7875,...,-0.8200,3.3085,3.1358,5.0959,19.7160,-0.1801,5.8437,8.8348,17.0461,8.8190
72272,train_72272,0,12.8473,-6.1848,6.8799,2.0164,12.7998,10.2781,4.4191,15.6940,...,1.1516,3.9019,4.6616,7.6035,12.6402,-0.3037,-4.2330,9.7456,14.8337,-3.7167
158154,train_158154,0,13.1827,-0.8344,13.4689,3.9060,13.5984,4.6475,5.9659,24.0557,...,2.8737,5.8939,0.8525,8.7406,16.6641,0.8745,7.0406,8.6424,20.7107,-5.4186
65426,train_65426,0,8.2132,1.2309,11.1464,9.4524,10.2142,4.0416,5.3989,20.4527,...,6.4752,5.7442,2.1907,6.0651,10.9444,-2.0666,-7.9209,9.0522,17.1735,12.4656
30074,train_30074,1,5.5681,4.6355,15.2350,3.0718,11.8178,-15.0502,3.8357,12.0169,...,4.1796,5.6113,-0.1561,3.1010,17.4297,-1.0121,-6.5168,7.9772,18.5248,11.2771

In [14]:
df_label_0 = df[df['target'] == 0]
df_label_0.shape

(143954, 202)

In [15]:
df_label_1 = df[df['target'] == 1]
df_label_1.shape

(16046, 202)

In [21]:
working_df = []
num_rows = 18_000
start_idx = 0
while start_idx < df_label_0.shape[0]:
    print(start_idx, start_idx+num_rows)
    working_df.append(shuffle(pd.concat([df_label_0[start_idx : start_idx+num_rows], df_label_1])))
    i = len(working_df) - 1
    working_df[i].to_csv(datapath / f'working_train_df_{i}.csv', index=False)
    start_idx += num_rows

0 18000
18000 36000
36000 54000
54000 72000
72000 90000
90000 108000
108000 126000
126000 144000