In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(42)

In [3]:
df = pd.read_csv('data/train.csv')

In [4]:
indexes = np.arange(len(df))
np.random.shuffle(indexes)

In [5]:
X_train = df.loc[indexes][:160000]
X_valid = df.loc[indexes][160000:]

In [6]:
# X_train = df[:160000]
# X_valid = df[160000:]

In [7]:
X_train.shape, X_valid.shape

((160000, 202), (40000, 202))

In [8]:
X_train.to_csv('data/train_splitted.csv', index_label=False)
X_valid.to_csv('data/valid_splitted.csv', index_label=False)

In [10]:
X_train.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
119737,train_119737,0,11.0038,-4.5026,9.0662,6.4313,10.7061,-15.2857,5.1233,16.7875,...,-0.8200,3.3085,3.1358,5.0959,19.7160,-0.1801,5.8437,8.8348,17.0461,8.8190
72272,train_72272,0,12.8473,-6.1848,6.8799,2.0164,12.7998,10.2781,4.4191,15.6940,...,1.1516,3.9019,4.6616,7.6035,12.6402,-0.3037,-4.2330,9.7456,14.8337,-3.7167
158154,train_158154,0,13.1827,-0.8344,13.4689,3.9060,13.5984,4.6475,5.9659,24.0557,...,2.8737,5.8939,0.8525,8.7406,16.6641,0.8745,7.0406,8.6424,20.7107,-5.4186
65426,train_65426,0,8.2132,1.2309,11.1464,9.4524,10.2142,4.0416,5.3989,20.4527,...,6.4752,5.7442,2.1907,6.0651,10.9444,-2.0666,-7.9209,9.0522,17.1735,12.4656
30074,train_30074,1,5.5681,4.6355,15.2350,3.0718,11.8178,-15.0502,3.8357,12.0169,...,4.1796,5.6113,-0.1561,3.1010,17.4297,-1.0121,-6.5168,7.9772,18.5248,11.2771